body {
  margin: 0;
  padding: 0;
  /* height: 300vh; */
  cursor: pointer;
}

.home {
  overflow-y: hidden;
}

#landing {
  height: 100vh;
}

#landing .text-section {
  text-align: center;
  font-family: 'Megrim', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
}

#landing .text-section img {
  max-width: 325px;
}

#landing .text-section h1 {
  /* padding: .3em; */
  margin: 0;
  color: rgba(0, 0, 0, 0.68);
  font-weight: 900 !important;
  font-size: 3rem !important;
}

#landing .text-section p {
  display: inline-block;
  color: rgba(2, 2, 2, 0.68);
  font-weight: 700;
}

#landing a {
  color: black;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#vision {
  height: 100vh;
}

#vision h1 {
  position: relative;
  margin-top: 50%;
  transform: translate(0,-50%);
  font-family: 'Saira', sans-serif;
  font-size: 4rem;
  text-align: right;
  padding-right: 2rem;
}

#vision p {
  position: relative;
  margin-top: 50%;
  transform: translate(0,-50%);
  font-family: 'Saira', sans-serif;
  font-size: 2rem;
  text-align: left;
  padding-left: 2rem;
}

#vision a {
  color: black;
  text-align: center;
  position: absolute;
  top: 190vh;
  left: 50%;
  transform: translate(0, 50%);
}

#mission {
  height: 100vh;
}

#mission h1 {
  position: relative;
  margin-top: 50%;
  transform: translate(0,-50%);
  font-family: 'Saira', sans-serif;
  font-size: 4rem;
  text-align: left;
  padding-left: 2rem;
}

#mission p {
  position: relative;
  margin-top: 50%;
  transform: translate(0,-50%);
  font-family: 'Saira', sans-serif;
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}

nav {
  position: fixed !important;
  /* top: 50%; */
  left: 99% !important;
  transform: translate(-50%, 0);
  padding-right: 0 !important;
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 20px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  padding-top: 20px;
  width: 50px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: black;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  -webkit-transform: translate3d(0, 75px, 0);
          transform: translate3d(0, 75px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  -webkit-transform: translate3d(0, 150px, 0);
          transform: translate3d(0, 150px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 390ms;
  -webkit-transform: translate3d(0, 225px, 0);
          transform: translate3d(0, 225px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 490ms;
  -webkit-transform: translate3d(0, 300px, 0);
          transform: translate3d(0, 300px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 490ms;
  -webkit-transform: translate3d(0, 375px, 0);
          transform: translate3d(0, 375px, 0);
}

/* Products Page */

.container h1 {
  text-align: center;
  font-family: 'Saira', sans-serif;
  color: black;
  padding-bottom: 2rem;
}

article {
  background-color: #eeeeee !important;
  font-family: 'Saira', sans-serif;
  text-align: center;
  min-height: 200px !important;
  display: flex;
  align-items: center;
}

article:hover {
  background-color: black !important;
  color: white !important;
}

/* .iris:hover {
  background-color: #209cee !important;
  color: white;
}

.home-auto:hover {
  background-color:#209cee !important;
  color: white;
}

.rfid:hover {
  background-color: #209cee !important;
  color: white;
}
.rfid span {
  background-color: white !important;
  color: #ff3860;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.subtitle {
  margin-top: -0.75rem !important;
}
.rfid-span-hover {
  background-color: #ff3860 !important;
  color: white;
}

.data-log:hover {
  background-color: #209cee !important;
  color: white;
} */